# ==============================================================================
# MacOS
# ==============================================================================
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ==============================================================================
# Linux
# ==============================================================================
*~

# ==============================================================================
# JetBrains PyCharm (Directory-based project format)
# ==============================================================================
.idea/

# ==============================================================================
# Vagrant
# ==============================================================================
Vagrantfile
.vagrant/

# ==============================================================================
# Python
# ==============================================================================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Translations
#*.mo

# Django stuff:
*.log
*.pot

# Virtualenv
.env/

# ==============================================================================
# Application
# ==============================================================================
*.pid
*.db
#myproject/settings/env.py

# Do not track contents of the following directories
logs/*
etc/*
var/*

# Do not track content of /ssl folder, content of this folder is
# handled by the deployment scripts
ssl/*

# ==============================================================================
# Jenkins
# ==============================================================================
reports/*
